<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body id="register-body">
    <%- include('../partials/header') %>
    <!--contenido de la página de registro-->
    <article class="register">
        <div class="login">
            <div class="subtitle">
                <h2>Iniciar Sesión</h2>
            </div>

            <form action="/user/login" method="POST">
                <% if (locals.ErrorLogin) { %>
                    <p class="error"><%= ErrorLogin %></p>
                <% } %>
                <% if (locals.justSignedUp == "new") { %>
                    <p class="success">¡Registro exitoso! Ingresa a tu cuenta:</p>
                <% } %>
                

                <h3>Ingresa tu correo electrónico y contraseña:</h3>
                <br>
                <label for="login-email">
                    <p><span>*</span>E-Mail:</p>
                    <input <%if (locals.ErrorLogin && ErrorLogin === "Email no registrado") {%>style="border-color:red"<%}%>id="login-email" type="email" name="user" required>
                </label>
                <div>
                </div>
                <label for="login-password">
                    <p><span>*</span>Contraseña:</p>
                    <input <%if (locals.ErrorLogin && ErrorLogin === "Credenciales Inválidas") {%>style="border-color:red"<%}%>id="login-password" type="password" name="password" required>
                </label>
                <label for="remember-login">
                    <p><span></span>Recordar Sesión</p>
                    <input id="remember-login" type="checkbox" name="remember_login">
                </label>
                <button type="submit">Iniciar Sesión</button>
                <p class="info"><a href="#forgot-password">¿Olvidaste tu contrseña?</a></p>
            </form>
        </div>
        
        <div class="signup">
            <div class="subtitle">
                <h2>¿Aún no tienes una cuenta? ¡Regístrate!</h2>
            </div>
            <form action="/user/registro" method="POST">
                <% if (locals.oldData) { %>
                    <p class="error">Este email ya existe</p>
                <% } %>
                <h3>Completa los siguientes datos:</h3>
                <label for="first_name">
                    <p><span>*</span>Nombre:</p>
                    <input id="first_name" type="text" name="first_name" 
                    value= "<%= locals.oldData ? oldData.first_name : null %>" 
                    required>
                </label>
                <label for="last_name">
                    <p><span>*</span>Apellido:</p>
                    <input id="last_name" type="text" name="last_name"
                    value= "<%= locals.oldData ? oldData.last_name : null %>" 
                    required>
                </label>
                <label for="signup-email">
                    <p><span>*</span>E-Mail:</p>
                    <input id="signup-email" type="email" name="email" 
                    value= "<%= locals.oldData ? oldData.user : null %>"
                    required>               
                </label>
                <div>
                </div>
                <label for="signup-password">
                    <p><span>*</span>Contraseña:</p>
                    <input id="signup-password" type="password" name="password1" required>
                </label>
                <label for="signup-password-confirm">
                    <p><span>*</span>Confirmar<br>Contraseña:</p>
                    <input id="signup-password-confirm" type="password" name="password2" required>
                </label>
                <label id="tnc" for="accept-tnc">   
                    <input id="accept-tnc" type="checkbox" name="yes" required value="yes"><p id="tnc-statement"><span>*</span>Acepto los <a href="#terms-and-conditions">términos y condiciones</a></p><br>  
                </label>
                <button type="submit">Crear Cuenta</button>
            </form>
        </div>
    </article>
</body>
<%- include('../partials/footer') %>
</html>